@{
    
}

<form>
    <input id="createImageData" type="button" value="TakeScreenShot" />
    <input id="speechBox" type="text" x-webkit-speech />
</form>
<canvas id="gameCanvas" data-gengine='{"handleEvents":["mouse", "touch"]}' width="640" height="480">
</canvas>
<GEString id='string1' data-gengine='{"canvasId":"gameCanvas","color":"#FFF00F","x":200,"y":200,"content":"I Love"}'></GEString>
<gestring id='string2' data-gengine='{"canvasId":"gameCanvas","color":"#0000FF","x":450,"y":200,"content":"a lot"}'></gestring>
<GEIMG id="img1" src="~/Images/Chrome.png" data-gengine='{"canvasId":"gameCanvas","x":280,"y":200}' />
<div id="gedebugger"></div>
<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/scripts/guiengine.js"></script>
<script>
    var gamestr,
        gameimg,
        canvas,
        game,
        gameObjs;

    $(document).ready(function () {
        game = guiEngine.start();
        game.SetDebugger("gedebugger");
        game.Debug(true);
        canvas = game.getCanvas("gameCanvas").setBackgroundColor("#000000");
        $('#createImageData').bind('click', function () { game.CreateImageData("gameCanvas"); });
        gameObjs = canvas.bindGEObjects();
        $("#speechBox").bind('webkitspeechchange', function (evt) {
            gameObjs[0].geobject.setText($(this).val());
        });
        $("#speechBox").bind('webkitspeechchange', function (evt) {
            gameObjs[0].geobject.setText($(this).val());
        });
        $("#speechBox").bind('change', function (evt) {
            gameObjs[1].geobject.setText($(this).val());
        });
    });
</script>